PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE models (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            name TEXT UNIQUE,
            description TEXT,
            url TEXT,
            capabilities INTEGER
        );
INSERT INTO models VALUES(1,'llama3.2','Meta''s Llama 3.2 goes small with 1B and 3B models.','https://ollama.com/library/llama3.2',2);
INSERT INTO models VALUES(2,'llama3.1','Llama 3.1 is a new state-of-the-art model from Meta available in 8B, 70B and 405B parameter sizes.','https://ollama.com/library/llama3.1',2);
INSERT INTO models VALUES(3,'gemma2','Google Gemma 2 is a high-performing and efficient model available in three sizes: 2B, 9B, and 27B.','https://ollama.com/library/gemma2',0);
CREATE TABLE releases (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            model_id INTEGER,
            num_params TEXT,
            size TEXT,
            FOREIGN KEY(model_id) REFERENCES models(id)
        );
INSERT INTO releases VALUES(1,1,'1b','1.3GB');
INSERT INTO releases VALUES(2,1,'3b','2.0GB');
INSERT INTO releases VALUES(3,2,'8b','4.7GB');
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('models',123);
INSERT INTO sqlite_sequence VALUES('releases',221);
CREATE INDEX idx_model_name ON models (name);
CREATE INDEX idx_model_capabilities ON models (capabilities);
COMMIT;
